<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Matrix Method Simulations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <header>
        <h1>PolaritonTechnologies - Transfer Matrix Method (TMM) Optimization</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PolaritonTechnologies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {{ 'active' if request.endpoint == 'home' else '' }}">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'simulate' else '' }}">
                    <a class="nav-link" href="{{ url_for('simulate') }}">Simulate</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'optimize' else '' }}">
                    <a class="nav-link" href="{{ url_for('optimize') }}">Optimize</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <form action="{{ url_for('start_optimization') }}" method="post">
            <div class="form-group">
                <label for="optimizationMethod">Select Optimization Method</label>
                <select class="form-control" id="optimizationMethod" name="optimizationMethod">
                    <option value="minimize">Nelder-Mead</option>
                    <option value="dual_annealing">Dual annealing</option>
                    <option value="basinhopping">Basin Hopping</option>
                </select>
            </div>
        </form>
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-3">
                    <form action="{{ url_for('start_optimization') }}" method="post" class="w-100">
                        <button type="submit" class="btn btn-primary w-100" id="startOptimization" {{ 'disabled' if optimization_running }}>Start Optimization</button>
                        <input type="hidden" id="hiddenOptimizationMethod" name="optimizationMethod">
                    </form>
                </div>
                <div class="col-3">
                    <form action="{{ url_for('stop_optimization') }}" method="post" class="w-100">
                        <button type="submit" class="btn btn-danger w-100" id="stopOptimization" {{ 'disabled' if not optimization_running }}>Stop Optimization</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div id="logPanel" style="height: 50vh; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
                    </div>
                </div>
                <div class="col-6">
                    <section class="row">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <div class="container">
                                {% if num_boxes and colors is defined %}
                                {% for _ in range(num_boxes) %}
                                <div class="box"
                                    style="background-color: {{ colors[loop.index0 % colors|length] }}; height: {{ heights[loop.index0 % heights|length] }}px;">
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-9">
                            <div id="legend">
                                {% if num_legend_items and legend_colors is defined %}
                                {% for i in range(num_legend_items) %}
                                <div class="legend-item row d-flex align-items-center justify-content-start">
                                    <div class="box"
                                        style="background-color: {{ legend_colors[i] }}; height: 20px; margin-right: 10px; width: 5em;">
                                    </div>
                                    <span>{{ unique_materials[i] }}</span>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2024 PolaritonTechnologies</p>
    </footer>
</body>
<script>
    document.getElementById('startOptimization').addEventListener('click', function() {
    // Get the selected optimization method
    var optimizationMethod = document.getElementById('optimizationMethod').value;

    // Set the value of the hidden input field
    document.getElementById('hiddenOptimizationMethod').value = optimizationMethod;
    });
    function updateLogPanel() {
        fetch('{{ url_for("get_messages") }}')
            .then(response => response.json())
            .then(messages => {
                var logPanel = document.getElementById('logPanel');
                messages.forEach(message => {
                    var newLogMessage = document.createElement('p');
                    newLogMessage.textContent = message;
                    logPanel.appendChild(newLogMessage);
                });
                logPanel.scrollTop = logPanel.scrollHeight;
            });
    }
    function updateDesign() {
    fetch('{{ url_for("get_design_data") }}')
        .then(response => response.json())
        .then(data => {
            if (Object.keys(data).length === 0) {
                // No new design data
                return;
            }
            var container = document.querySelector('.container');
            container.innerHTML = '';
            for (var i = 0; i < data.num_boxes; i++) {
                var box = document.createElement('div');
                box.className = 'box';
                box.style.backgroundColor = data.colors[i % data.colors.length];
                box.style.height = data.heights[i % data.heights.length] + 'px';
                container.appendChild(box);
            }

            var legend = document.getElementById('legend');
            legend.innerHTML = '';
            for (var i = 0; i < data.num_legend_items; i++) {
                var legendItem = document.createElement('div');
                legendItem.className = 'legend-item row d-flex align-items-center justify-content-start';

                var box = document.createElement('div');
                box.className = 'box';
                box.style.backgroundColor = data.legend_colors[i];
                box.style.height = '20px';
                box.style.marginRight = '10px';
                box.style.width = '5em';
                legendItem.appendChild(box);

                var span = document.createElement('span');
                span.textContent = data.unique_materials[i];
                legendItem.appendChild(span);

                legend.appendChild(legendItem);
            }
        });
    }
    setInterval(updateDesign, 5000);
    setInterval(updateLogPanel, 1000);
</script>

</html>