{% extends "base.html" %}
{% block content %}
<div class="container">
        <h2>Login</h2>
        <form method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    form.addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission

        // Initialize Socket.IO client
        var socket = io.connect('http://localhost:5000'); // Adjust the URL as necessary

        // Extract the username from the form
        const username = document.getElementById('username').value;

        // Send the username to the server
        socket.emit('user_login', {username: username}, function(acknowledgement){
            if(acknowledgement === 'received') {
                // Manually submit the form after the server acknowledges the socket emission
                form.submit();
            } else {
                // Handle the case where the server does not acknowledge the socket emission
                console.error('Socket emission was not acknowledged by the server.');
                // Optionally, re-enable the submit button or notify the user
            }
        });
    });
});
</script>
{% endblock %}