<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Matrix Method Simulations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Add jQuery UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
        rel="stylesheet" />


    <!-- Add jQuery, jQuery UI and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>

<body>
    <header>
        <h1>PolaritonTechnologies - Transfer Matrix Method (TMM) Optimization</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PolaritonTechnologies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {{ 'active' if request.endpoint == 'stack' else '' }}">
                    <a class="nav-link" href="{{ url_for('stack') }}">Stack</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'simulate' else '' }}">
                    <a class="nav-link" href="{{ url_for('simulate') }}">Simulate</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'optimize' else '' }}">
                    <a class="nav-link" href="{{ url_for('optimize') }}">Optimize</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'materials' else '' }}">
                    <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
                </li>


            </ul>
        </div>
    </nav>
    <main class="container-custom">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Part 1 -->
                <div class="col-6">
                    <div class="row mb-3">
                        <div class="col-10 offset-1">
                            <form action="{{ url_for('optimize') }}" method="post">
                                <div class="form-group">
                                    <label for="optimizationMethod">Select Optimization Method</label>
                                    <select class="form-control" id="optimizationMethod" name="optimizationMethod">
                                        <option value="minimize">Nelder-Mead</option>
                                        <option value="dual_annealing">Dual annealing</option>
                                        <option value="basinhopping">Basin Hopping</option>
                                        <option value="differential_evolution">Differential Evolution</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 offset-1">
                            <form method="post" class="w-100">
                                <button type="submit" class="btn btn-primary w-100" id="startOptimization" {{ 'disabled'
                                    if optimization_running }}>Start Optimization</button>
                            </form>
                        </div>
                        <div class="col-5">
                            <form method="post" class="w-100">
                                <button type="submit" class="btn btn-danger w-100" id="stopOptimization" {{ 'disabled'
                                    if not optimization_running }}>Stop Optimization</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Part 2 -->
                <div class="col-6">
                    <section class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center mb-4">
                            <div class="container">
                                {% if num_boxes and colors is defined %}
                                {% for _ in range(num_boxes) %}
                                <div class="box"
                                    style="background-color: {{ colors[loop.index0 % colors|length] }}; height: {{ heights[loop.index0 % heights|length] }}px;">
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div id="legend">
                                {% if num_legend_items and legend_colors is defined %}
                                {% for i in range(num_legend_items) %}
                                <div class="legend-item row d-flex align-items-center justify-content-start my-2">
                                    <div class="box"
                                        style="background-color: {{ legend_colors[i] }}; height: 20px; margin-right: 10px; width: 5em;">
                                    </div>
                                    <span>{{ unique_materials[i] }}</span>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="position-relative">
            <div id="merit_graph"></div>
            <div class="d-flex justify-content-end position-absolute" style="top: 1em; right: 0;">
                <div id="iterations" class="text-right mr-2"></div>
                <div id="merit" class="text-right"></div>
            </div>
        </div>

    </main>
    <footer>
        <p>© 2024 PolaritonTechnologies</p>
    </footer>
</body>

</html>
<script>
    var socket = io.connect('http://localhost:5000');

    // Create a dummy graph
    var trace = {
        x: [],
        y: [],
        mode: 'lines+markers',
        type: 'scatter',
        marker: {
            size: 10,
            color: 'rgba(255, 182, 193, .9)',
            line: {
                width: 2
            }
        },
        line: {
            color: 'rgb(0, 0, 0)',
            width: 2
        }
    };

    var layout = {
        xaxis: {
            title: 'Iteration',
            showgrid: true,
            zeroline: true
        },
        yaxis: {
            title: 'Merit',
            type: 'log',
            showline: true
        },
        hovermode: 'closest',
        plot_bgcolor: 'rgb(223, 232, 243)'
    };


    var data = [trace];

    Plotly.newPlot('merit_graph', data, layout);

    document.getElementById('startOptimization').addEventListener('click', function (e) {
        e.preventDefault();

        var optimizationMethod = document.getElementById('optimizationMethod').value;

        // Emit a custom event with the selected optimization method
        socket.emit('start_optimization', { optimizationMethod: optimizationMethod });
        document.getElementById("stopOptimization").disabled = false;
    });

    document.getElementById('stopOptimization').addEventListener('click', function (e) {
        // Prevent form submission and page reload
        e.preventDefault();

        socket.emit('stop_optimization');
    });

    socket.on('update_merit_graph', function (data) {
        var trace = {
            x: data.x,
            y: data.y,
            mode: 'lines',
        };

        Plotly.newPlot('merit_graph', [trace], layout);
    });

    socket.on('update_filter_representation', function (data) {
        var filter_representation = JSON.parse(data.filter_json);

        // Access the values
        var num_boxes = filter_representation.num_boxes;
        var colors = filter_representation.colors;
        var heights = filter_representation.heights;
        var number_unique_materials = filter_representation.number_unique_materials;
        var unique_materials = filter_representation.unique_materials;
        var unique_colors = filter_representation.unique_colors;

        // Get the container element
        var container = document.querySelector('.container');

        // Remove existing boxes
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        // Create new boxes
        for (var i = 0; i < num_boxes; i++) {
            var div = document.createElement('div');
            div.className = 'box';
            div.style.backgroundColor = colors[i];
            div.style.height = heights[i] + 'px';
            container.appendChild(div);
        }
        $('#iterations').html('<strong>Iterations:</strong> ' + data.iterations);
        $('#merit').html('<strong>Latest Merit:</strong> ' + data.merit);

    });

</script>