{% extends "base.html" %}
{% block content %}
<main class="container-custom">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Overlay -->
            <div id="loading"
                style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9999;">
                <!-- Centered Spinner -->
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <!-- Part 1 -->
            <div class="col-6">
                <div class="row mb-3">
                    <!-- <div id="loadingOpt" class="spinner-border text-primary" role="status" -->
                    <!-- style="position: absolute; display: none;"> -->
                    <!-- <span class="sr-only"></span> -->
                    <!-- </div> -->
                    <div class="col-10 offset-1">
                        <label for="selectedMethods">Selected Optimization Methods</label>
                        <div id="selectedMethods" class="list-group mb-3"></div>
                        <label for="optimizationMethod">Optimization Method</label>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <select class="form-control" id="optimizationMethod" name="optimizationMethod">
                                    <option value="LM">Levenberg-Marquardt (Gradient Descent)</option>
                                    <option value="TNC">Truncated Newton (Gradient Descent)</option>
                                    <!-- <option value="NCG">Newton CG (Gradient Descent)</option> -->
                                    <option value="Nelder-Mead">Nelder-Mead (Direct Search)</option>
                                    <option value="dual_annealing">Dual annealing</option>
                                    <option value="basinhopping">Basin Hopping</option>
                                    <option value="differential_evolution">Differential Evolution</option>
                                    <option value="particle_swarm">Particle Swarm</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button type="button"
                                    class="btn btn-success rounded-circle d-flex align-items-center justify-content-center"
                                    style="width: 1em; height: 1em; padding: 1em;" id="addOptButton">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 offset-1">
                        <form method="post" class="w-100">
                            <button type="submit" class="btn btn-primary w-100" id="startOptimization" {{ 'disabled' if
                                optimization_running }}>Start Optimization</button>
                        </form>
                    </div>
                    <div class="col-5">
                        <form method="post" class="w-100">
                            <button type="submit" class="btn btn-danger w-100" id="stopOptimization" {{ 'disabled' if
                                not optimization_running }}>Stop Optimization</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Part 2 -->
            <div class="col-6">
                <section class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center mb-4">
                        <div class="container" id="filter_representation"
                            style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            {% if num_boxes and colors is defined %}
                            {% for i in range(num_boxes)|reverse %}
                            <div class="box"
                                style="background-color: {{ colors[i % colors|length] }}; height: {{ heights[i % heights|length] }}px; width: {{ '100%' if incoherent[i % heights|length] else '80%' }};">
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div id="legend">
                            {% if num_legend_items and legend_colors is defined %}
                            {% for i in range(num_legend_items) %}
                            <div class="legend-item row d-flex align-items-center justify-content-start my-2">
                                <div class="box"
                                    style="background-color: {{ legend_colors[i] }}; height: 20px; margin-right: 10px; width: 5em;">
                                </div>
                                <span>{{ unique_materials[i] }}</span>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="position-relative">
        <div id="merit_graph"></div>
        <div class="d-flex justify-content-end position-absolute" style="top: 2em; right: 0;">
            <div id="iterations" class="text-right mr-2"></div>
            <div id="merit" class="text-right"></div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts%}
<script>

    // Create a dummy graph
    var trace = {
        x: [],
        y: [],
        mode: 'lines+markers',
        type: 'scatter',
        marker: {
            size: 10,
            color: 'rgba(255, 182, 193, .9)',
            line: {
                width: 2
            }
        },
        line: {
            color: 'rgb(0, 0, 0)',
            width: 2
        }
    };

    var layout = {
        xaxis: {
            title: 'Iteration',
            showgrid: true,
            zeroline: true
        },
        yaxis: {
            title: 'Merit',
            type: 'log',
            showline: true
        },
        hovermode: 'closest',
        plot_bgcolor: 'rgb(223, 232, 243)'
    };


    var data = [trace];

    Plotly.newPlot('merit_graph', data, layout);
    var updateIntervalId = null;

    document.getElementById('startOptimization').addEventListener('click', function (e) {
        e.preventDefault();

        // Show the spinner
        document.getElementById('loading').style.display = 'block';

        Plotly.restyle('merit_graph', { x: [[]], y: [[]] }, [0]);

        // graphDiv.data = [];


        var selectedMethods = $('#selectedMethods').children();

        if (selectedMethods.length > 0) {
            var optimizationMethod = selectedMethods.map(function () {
                var text = $(this).text();
                return text.replace(/^\d+|-$/g, '');
            }).get();
            // console.log(optimizationMethod);

            var dataToSend = { optimizationMethod: optimizationMethod };

            $.ajax({
                type: "POST",
                url: "/start_optimization",
                contentType: "application/json",
                data: JSON.stringify(dataToSend),
                success: function (response) {
                    // console.log(response.message);
                    // Show the spinner
                    document.getElementById("stopOptimization").disabled = false;

                    update_merit_graph(response.step, response.merit);

                    // Wait another second until the loading spinner is hidden
                    setTimeout(function () {
                        document.getElementById('loading').style.display = 'none';
                    }, 4000);


                    // Start periodic updates
                    if (updateIntervalId !== null) {
                        clearInterval(updateIntervalId); // Clear existing interval if any
                    }
                    updateIntervalId = setInterval(function () {
                        $.ajax({
                            type: "GET",
                            url: "/update_optimization", // Update this URL as needed
                            success: function (updateResponse) {
                                // Update the page with the response
                                // This could involve updating a graph, table, or status text
                                // console.log("Update received:", updateResponse);
                                update_merit_graph(updateResponse.best_step, updateResponse.best_merit);
                                updateFilterRepresentation(updateResponse.num_boxes, updateResponse.colors, updateResponse.heights, updateResponse.number_unique_materials, updateResponse.unique_materials, updateResponse.unique_colors, updateResponse.incoherent);

                                // Update iterations and merit display
                                $('#iterations').html('<strong>Iterations:</strong> ' + updateResponse.current_step);
                                $('#merit').html('<strong>Latest Merit:</strong> ' + updateResponse.current_merit.toFixed(2));

                                // Check for a specific response to stop updates
                                if (updateResponse.finished) {
                                    clearInterval(updateIntervalId); // Stop the periodic updates
                                    console.log("Optimization completed. Stopping updates.");
                                }

                                // Example: $('#status').text(updateResponse.status);
                            },
                            error: function (xhr, status, error) {
                                console.error("Error updating optimization:", error);
                            }
                        });
                    }, 1000); // Update every 2000 milliseconds (2 seconds)
                },
                error: function (xhr, status, error) {
                    console.error("Error starting optimization:", error);
                }
            });
        } else {
            console.log("No methods selected");
        }
    });

    document.getElementById('stopOptimization').addEventListener('click', function (e) {
        e.preventDefault(); // Prevent form submission and page reload

        // Assuming job_id is stored in a variable named `jobId`
        // const jobId = document.getElementById('jobIdElement').value; // Or however you're storing/accessing the job ID

        fetch('/stop_optimization', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Handle success, e.g., show a message to the user
                // Optionally, remove the spinner or update UI
                // document.getElementById('loadingOpt').style.display = 'none';
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error, e.g., show an error message to the user
            });
    });


    function update_merit_graph(step, merit) {
        // Assuming 'merit_graph' is the ID of the Plotly graph element
        // var graphDiv = document.getElementById('merit_graph');

        // Graph exists, update it
        Plotly.extendTraces('merit_graph', {
            x: [[step]], // Wrap in two arrays because Plotly.extendTraces expects an array of arrays
            y: [[merit]] // Same as above
        }, [0]); // [0] indicates we're updating the first trace
    }

    function updateFilterRepresentation(num_boxes, colors, heights, number_unique_materials, unique_materials, unique_colors, incoherent) {
        // Get the container element
        var container = document.querySelector('#filter_representation');

        // Remove existing boxes
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        // Create new boxes
        for (var i = num_boxes - 1; i >= 0; i--) {
            var div = document.createElement('div');
            div.className = 'box';
            div.style.backgroundColor = colors[i];
            div.style.height = heights[i] + 'px';
            if (incoherent[i]) {
                div.style.width = '100%';
            } else {
                div.style.width = '80%';
            }
            container.appendChild(div);
        }

    }

</script>

<script>
    $('#addOptButton').click(function () {
        var selectedMethod = $('#optimizationMethod').val();
        var methodElement = $('<div>').addClass('list-group-item d-flex').text(selectedMethod);
        var numberElement = $('<div>').addClass('mr-2 number').text('');
        var removeButton = $('<button>').addClass('btn btn-sm btn-danger ml-auto').text('-').click(function () {
            $(this).parent().remove();
            updateNumbers();
        });
        methodElement.prepend(numberElement);
        methodElement.append(removeButton);
        $('#selectedMethods').append(methodElement);
        updateNumbers();
    });


    $('#selectedMethods').sortable({
        stop: function () {
            updateNumbers();
        }
    });

    function updateNumbers() {
        $('.number').each(function (index) {
            $(this).text(index + 1);
        });
    }
    $('#selectedMethods').sortable();
</script>

{% if job_status == "running" %}
<script>
    document.getElementById("stopOptimization").disabled = false;
    function setupPeriodicUpdates() {
        var updateIntervalId = setInterval(function () {
            $.ajax({
                type: "GET",
                url: "/update_optimization", // Update this URL as needed
                success: function (updateResponse) {
                    // Update the page with the response
                    update_merit_graph(updateResponse.best_step, updateResponse.best_merit);
                    updateFilterRepresentation(updateResponse.num_boxes, updateResponse.colors, updateResponse.heights, updateResponse.number_unique_materials, updateResponse.unique_materials, updateResponse.unique_colors, updateResponse.incoherent);

                    // Update iterations and merit display
                    $('#iterations').html('<strong>Iterations:</strong> ' + updateResponse.current_step);
                    $('#merit').html('<strong>Latest Merit:</strong> ' + updateResponse.current_merit.toFixed(2));

                    // Check for a specific response to stop updates
                    if (updateResponse.finished) {
                        clearInterval(updateIntervalId); // Stop the periodic updates
                        console.log("Optimization completed. Stopping updates.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error updating optimization:", error);
                }
            });
        }, 1000); // Update every 2000 milliseconds (2 seconds)
    }

    setupPeriodicUpdates();
</script>
{% endif %}
{% endblock %}