{% extends "base.html" %}
{% block content %}
<main class="container-custom">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Part 1 -->
            <div class="col-6">
                <div class="row mb-3">
                    <!-- <div id="loadingOpt" class="spinner-border text-primary" role="status" -->
                    <!-- style="position: absolute; display: none;"> -->
                    <!-- <span class="sr-only"></span> -->
                    <!-- </div> -->
                    <div class="col-10 offset-1">
                        <form action="{{ url_for('optimize') }}" method="post">
                            <label for="selectedMethods">Selected Optimization Methods</label>
                            <div id="selectedMethods" class="list-group mb-3"></div>
                            <label for="optimizationMethod">Optimization Method</label>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <select class="form-control" id="optimizationMethod" name="optimizationMethod">
                                        <option value="LM">Levenberg-Marquardt (Gradient Descent)</option>
                                        <option value="TNC">Truncated Newton (Gradient Descent)</option>
                                        <!-- <option value="NCG">Newton CG (Gradient Descent)</option> -->
                                        <option value="Nelder-Mead">Nelder-Mead (Direct Search)</option>
                                        <option value="dual_annealing">Dual annealing</option>
                                        <option value="basinhopping">Basin Hopping</option>
                                        <option value="differential_evolution">Differential Evolution</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button"
                                        class="btn btn-success rounded-circle d-flex align-items-center justify-content-center"
                                        style="width: 1em; height: 1em; padding: 1em;" id="addOptButton">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5 offset-1">
                        <form method="post" class="w-100">
                            <button type="submit" class="btn btn-primary w-100" id="startOptimization" {{ 'disabled'
                                if optimization_running }}>Start Optimization</button>
                        </form>
                    </div>
                    <div class="col-5">
                        <form method="post" class="w-100">
                            <button type="submit" class="btn btn-danger w-100" id="stopOptimization" {{ 'disabled'
                                if not optimization_running }}>Stop Optimization</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Part 2 -->
            <div class="col-6">
                <section class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center mb-4">
                        <div class="container"
                            style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            {% if num_boxes and colors is defined %}
                            {% for i in range(num_boxes)|reverse %}
                            <div class="box"
                                style="background-color: {{ colors[i % colors|length] }}; height: {{ heights[i % heights|length] }}px; width: {{ '100%' if incoherent[i % heights|length] else '80%' }};">
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div id="legend">
                            {% if num_legend_items and legend_colors is defined %}
                            {% for i in range(num_legend_items) %}
                            <div class="legend-item row d-flex align-items-center justify-content-start my-2">
                                <div class="box"
                                    style="background-color: {{ legend_colors[i] }}; height: 20px; margin-right: 10px; width: 5em;">
                                </div>
                                <span>{{ unique_materials[i] }}</span>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="position-relative">
        <div id="merit_graph"></div>
        <div class="d-flex justify-content-end position-absolute" style="top: 2em; right: 0;">
            <div id="iterations" class="text-right mr-2"></div>
            <div id="merit" class="text-right"></div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts%}
<script>

    // Create a dummy graph
    var trace = {
        x: [],
        y: [],
        mode: 'lines+markers',
        type: 'scatter',
        marker: {
            size: 10,
            color: 'rgba(255, 182, 193, .9)',
            line: {
                width: 2
            }
        },
        line: {
            color: 'rgb(0, 0, 0)',
            width: 2
        }
    };

    var layout = {
        xaxis: {
            title: 'Iteration',
            showgrid: true,
            zeroline: true
        },
        yaxis: {
            title: 'Merit',
            type: 'log',
            showline: true
        },
        hovermode: 'closest',
        plot_bgcolor: 'rgb(223, 232, 243)'
    };


    var data = [trace];

    Plotly.newPlot('merit_graph', data, layout);

    document.getElementById('startOptimization').addEventListener('click', function (e) {
        e.preventDefault();

        // Get the elements from selectedMethods
        var selectedMethods = $('#selectedMethods').children();

        // Check if selectedMethods has at least one child
        if (selectedMethods.length > 0) {
            var optimizationMethod = selectedMethods.map(function () {
                var text = $(this).text();
                // Remove leading number and trailing dash
                return text.replace(/^\d+|-$/g, '');
            }).get();
            console.log(optimizationMethod);

            // Emit a custom event with the selected optimization method
            var username = retrieveUsername();
            socket.emit('start_optimization', { optimizationMethod: optimizationMethod, username: username});
            document.getElementById("stopOptimization").disabled = false;
        } else {
            console.log("No methods selected");
        }
    });

    document.getElementById('stopOptimization').addEventListener('click', function (e) {
        // Prevent form submission and page reload
        e.preventDefault();
        // Remove the spinner 
        // document.getElementById('loadingOpt').style.display = 'none';
        socket.emit('stop_optimization', {username:username});
    });

    socket.on('update_merit_graph', function (traces) {
        var data = traces.map(function (trace) {
            return {
                x: trace.x,
                y: trace.y,
                mode: 'lines',
                line: {
                    color: trace.color
                },
                name: trace.name
            };
        });

        Plotly.newPlot('merit_graph', data, layout);
    });

    socket.on('update_filter_representation', function (data) {
        var filter_representation = JSON.parse(data.filter_json);

        // Access the values
        var num_boxes = filter_representation.num_boxes;
        var colors = filter_representation.colors;
        var heights = filter_representation.heights;
        var number_unique_materials = filter_representation.number_unique_materials;
        var unique_materials = filter_representation.unique_materials;
        var unique_colors = filter_representation.unique_colors;
        var incoherent = filter_representation.incoherent;

        // Get the container element
        var container = document.querySelector('.container');

        // Remove existing boxes
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        // Create new boxes
        for (var i = num_boxes - 1; i >= 0; i--) {
            var div = document.createElement('div');
            div.className = 'box';
            div.style.backgroundColor = colors[i];
            div.style.height = heights[i] + 'px';
            if (incoherent[i]) {
                div.style.width = '100%';
            } else {
                div.style.width = '80%';
            }
            container.appendChild(div);
        }
        // Create substrate box
        // var substrateBox = document.createElement('div');
        // substrateBox.className = 'substrate_box';
        // substrateBox.style.backgroundColor = '#A9A9A9'; // Change this to the desired color of the substrate box
        // substrateBox.style.height = '50px'; // Change this to the desired height of the substrate box
        // container.appendChild(substrateBox);

        $('#iterations').html('<strong>Iterations:</strong> ' + data.iterations);
        $('#merit').html('<strong>Latest Merit:</strong> ' + data.merit);

    });

</script>

<script>
    $('#addOptButton').click(function () {
        var selectedMethod = $('#optimizationMethod').val();
        var methodElement = $('<div>').addClass('list-group-item d-flex').text(selectedMethod);
        var numberElement = $('<div>').addClass('mr-2 number').text('');
        var removeButton = $('<button>').addClass('btn btn-sm btn-danger ml-auto').text('-').click(function () {
            $(this).parent().remove();
            updateNumbers();
        });
        methodElement.prepend(numberElement);
        methodElement.append(removeButton);
        $('#selectedMethods').append(methodElement);
        updateNumbers();
    });

    $('#selectedMethods').sortable({
        stop: function () {
            updateNumbers();
        }
    });

    function updateNumbers() {
        $('.number').each(function (index) {
            $(this).text(index + 1);
        });
    }
    $('#selectedMethods').sortable();
</script>
{% endblock %}