{% extends "base.html" %}
{% block content %}
<main>
    <!-- Overlay -->
    <div id="loading"
        style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9999;">
        <!-- Centered Spinner -->
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row align-items-center ">

        <div class="col-6">
            <!-- <div id="loading" class="spinner-border text-primary" role="status"
                style="position: absolute; display: none;">
                <span class="sr-only">Loading...</span>
            </div> -->
            <div class="text-center mb-4"
                style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
                <div style="display: flex;">
                    <h6><strong>Summary:</strong></h6>
                </div>
                <div style="display: flex; align-items: center;">
                    <div style="margin-right: 1%;">Integrated:</div>
                    <div class="display-6 text-primary" id="integrated_spectrum" style="margin-right: 1%;"> - %nm,
                    </div>
                    <div style="margin-right: 1%;">Integrated Passband:</div>
                    <div class="display-6 text-primary" id="integrated_passband" style="margin-right: 1%;"> - %nm,
                    </div>
                    <div style="margin-right: 1%;">Peak:</div>
                    <div class="display-6 text-primary" id="peak_spectrum"> - %</div>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
                <div id="heatmap" style="margin-bottom: 5em;"></div>
            </div>
        </div>

        <div class="col-6">

            <div style="position: relative;">
                <div id="DatavsWavelengthPlot"></div>
                <button id="resetPlot" class="btn btn-primary" style="position: absolute; top: 40px; right: 0;">Reset
                    Plot</button>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="form-group mx-3">
                    <label for="mode">Mode:</label>
                    <select id="mode" class="form-control">
                        <option value="r" {% if default_values.mode=="r" %}selected{% endif %}>
                            Reflection</option>
                        <option value="t" {% if default_values.mode=="t" %}selected{% endif %}>Transmission</option>
                        <option value="a" {% if default_values.mode=="a" %}selected{% endif %}>Absorption</option>
                    </select>
                </div>
                <div class="form-group mx-3">
                    <label for="polarization">Polarization:</label>
                    <select id="polarization" class="form-control">
                        <option value="s" {% if default_values.polarization=="s" %}selected{% endif %}>
                            s</option>
                        <option value="p" {% if default_values.polarization=="p" %}selected{% endif %}>p</option>
                        <option value="None" {% if default_values.polarization=="" %}selected{% endif %}>None
                        </option>
                    </select>
                </div>

                <div class="form-group mx-3">
                    <label for="azimuthalAngle">Azimuthal Angle:</label>
                    <input type="number" id="azimuthalAngle" class="form-control" min="0" max="90" step="any"
                        value="{{ default_values.azimuthalAngle }}">
                </div>
            </div>

            <div class="row d-flex align-items-center justify-content-center">
                <div class="form-group mx-3">
                    <label for="startAngle">Starting Angle:</label>
                    <input type="number" id="startAngle" class="form-control" min="0" max="90" step="any"
                        value="{{ default_values.startAngle }}">
                </div>

                <div class="form-group mx-3">
                    <label for="endAngle">End Angle:</label>
                    <input type="number" id="endAngle" class="form-control" min="0" max="90" step="any"
                        value="{{ default_values.endAngle }}">
                </div>

                <div class="form-group mx-3">
                    <label for="stepAngle">Angle step:</label>
                    <input type="number" id="stepAngle" class="form-control" min="0" max="90" step="any"
                        value="{{ default_values.stepAngle }}">
                </div>
            </div>


            <div class="row d-flex align-items-center justify-content-center">
                <div class="form-group mx-3">
                    <label for="startWavelength">Starting Wavelength:</label>
                    <input type="number" id="startWavelength" class="form-control" min="10" max="10000" step="any"
                        value="{{ default_values.startWavelength }}">
                </div>

                <div class="form-group mx-3">
                    <label for="endWavelength">End Wavelength:</label>
                    <input type="number" id="endWavelength" class="form-control" min="10" max="10000" step="any"
                        value="{{ default_values.endWavelength }}">
                </div>

                <div class="form-group mx-3">
                    <label for="stepWavelength">Wavelength Step:</label>
                    <input type="number" id="stepWavelength" class="form-control" min="0" max="10000" step="any"
                        value="{{ default_values.stepWavelength }}">
                </div>
            </div>

            <div class="row d-flex align-items-center justify-content-center" style="margin-bottom: 5em">
                <button id="calculateButton" class="btn btn-primary mx-3">Calculate</button>
                <button id="downloadModalButton" type="button" class="btn btn-primary mx-3" data-toggle="modal"
                    data-target="#downloadModalSimulate" {% if not default_values.dataPresent %}disabled{% endif %}>
                    Download
                </button>
            </div>
            <!-- The Modal -->
            <div class="modal" id="downloadModalSimulate">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Download Options</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="fileType">File Type:</label>
                                <select class="form-control" id="fileType">
                                    <option>simulation</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fileEnding">File Ending:</label>
                                <select class="form-control" id="fileEnding">
                                    <option>.csv</option>
                                </select>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="downloadButton">Download</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
{% endblock %}

{% block scripts %}
<script>
    function plotHeatmap(fig_json, layout, config) {
        var data = {
            x: fig_json.x,
            y: fig_json.y,
            z: fig_json.z,
            colorscale: 'Viridis',
            type: 'heatmap',
        }
        Plotly.newPlot("heatmap", [data], layout, config);
        var heatmap = document.getElementById('heatmap');

        // Make the plot interactive: if the user clicks on the plot, plot another plot
        heatmap.on('plotly_click', function (data) {
            var x = data.points[0].x;
            var y = data.points[0].y;

            // Additionally embellish data with polarization and a/r/t
            // information retrieved from the according fields
            var mode = document.getElementById("mode").value;
            var polarization = document.getElementById("polarization").value;
            var username = retrieveUsername();
            // console.log('You clicked on point (' + x + ', ' + y + ')');

            // Trigger the plotting of another plot here
            // Replace socket.emit with an AJAX request
            fetch('/plot_xy_ajax', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ x: x, mode: mode, polarization: polarization, username: username }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Plot XY:', data);
                    // Handle the response data to plot the new plot
                    plotXY(data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    }

    // Create a dummy heatmap with all zeros to already be able to show a dummy
    // graph from the beginning (without any calculation)
    var dummyData = {
        z: Array(100).fill().map(() => Array(100).fill(0)),
        type: 'heatmap',
        colorscale: 'Viridis'
    };

    // Create a layout with autosize set to true, aspectmode set to cube, and x-axis and y-axis labels
    var layout = {
        autosize: false,
        width: 800,
        height: 800,
        margin: { l: 50, r: 50, b: 100, t: 100, pad: 4 },
        xaxis: { title: "Angle (°)" },
        yaxis: { title: "Wavelength (nm)" },
    };
    var config = {
        modeBarButtonsToAdd: [{
            name: 'Log Scale',
            title: 'log',
            click: function (gd) {
                Plotly.restyle(gd, {
                    // 'colorscale': [[
                    //     [0, 'rgb(250, 250, 250)'],        //0
                    //     [1, 'rgb(200, 200, 200)'], //10
                    //     [2, 'rgb(150, 150, 150)'],  //100
                    //     [3, 'rgb(100, 100, 100)'],   //1000
                    //     [4. / 10, 'rgb(50, 50, 50)'],       //10000
                    //     [5., 'rgb(0, 0, 0)']              //100000
                    // ]],
                    // 'colorbar.tick0': 10,
                    // 'colorbar.tickmode': 'array',
                    'colorbar.tickvals': [0, 1. / 10000, 1. / 1000, 1. / 100, 1. / 10, 1],
                    'colorbar.ticktext': ['0', '1e-4', '1e-3', '1e-2', '1e-1', '1']
                });
            }
        }, {
            name: 'Linear Scale',
            title: 'lin',
            click: function (gd) {
                Plotly.restyle(gd, {
                    'colorscale': 'Viridis',
                    'colorbar.tick0': 0,
                    'colorbar.tickmode': 'array',
                    'colorbar.tickvals': [0, 0.2, 0.4, 0.6, 0.8, 1],
                    'colorbar.ticktext': ['0', '0.2', '0.4', '0.6', '0.8', '1']
                });
            }
        }]
    };
    // Plot the dummy heatmap when the page loads
    // Plotly.newPlot('heatmap', [dummyData], layout, config);
    window.onload = function () {
        var dataPresent = {{ default_values.dataPresent | tojson
    }};

    console.log("Data present: ", dataPresent);
    if (dataPresent) {
        username = retrieveUsername();
        // Define the URL for the Flask endpoint
        const url = '/plot_data';

        // Prepare the request options for the fetch call
        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username: username })
        };

        // Make the AJAX request to the Flask endpoint
        fetch(url, requestOptions)
            .then(response => response.json()) // Parse the JSON response
            .then(data => {
                // Use the received data to plot the heatmap
                plotHeatmap(data, layout, config);
                // Retrieve the additional data (two floats) from the response
                const integrated_spectrum = data.integrated_spectrum.toFixed(2);
                const integrated_passband = data.integrated_passband.toFixed(2);
                const peak_spectrum = data.peak_spectrum.toFixed(2);

                // Update the divs with the new numbers
                document.getElementById('integrated_spectrum').innerText = integrated_spectrum + "% nm, ";
                document.getElementById('integrated_passband').innerText = integrated_passband + " % nm, ";
                document.getElementById('peak_spectrum').innerText = peak_spectrum + " %";
                // If you need to use the commented-out Plotly code:
                // var plotData = {
                //     x: data.x,
                //     y: data.y,
                //     z: data.z,
                //     colorscale: 'Viridis',
                //     type: 'heatmap',
                // };
                // Plotly.newPlot("heatmap", [plotData], data.layout, data.config);
            })
            .catch(error => {
                console.error('Error fetching plot data:', error);
            });
    }
    else {
        Plotly.newPlot('heatmap', [dummyData], layout, config);
    }
    };

    document.getElementById("calculateButton").addEventListener("click", function () {
        // Show the spinner
        document.getElementById('loading').style.display = 'block';

        var mode = document.getElementById("mode").value;
        var polarization = document.getElementById("polarization").value;
        var azimuthalAngle = document.getElementById("azimuthalAngle").value;
        var startAngle = document.getElementById("startAngle").value;
        var endAngle = document.getElementById("endAngle").value;
        var stepAngle = document.getElementById("stepAngle").value;
        var startWavelength = document.getElementById("startWavelength").value;
        var endWavelength = document.getElementById("endWavelength").value;
        var stepWavelength = document.getElementById("stepWavelength").value;
        var username = retrieveUsername();

        fetch('/calculate_and_plot_ajax', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                mode: mode,
                polarization: polarization,
                azimuthalAngle: azimuthalAngle,
                startAngle: startAngle,
                endAngle: endAngle,
                stepAngle: stepAngle,
                startWavelength: startWavelength,
                endWavelength: endWavelength,
                stepWavelength: stepWavelength,
                username: username
            }),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Calculation Complete:', data);
                // Hide the spinner
                document.getElementById('loading').style.display = 'none';
                // Update the plot with the new data
                plotHeatmap(data, layout, config);
                // Enable the download button
                document.getElementById("downloadModalButton").disabled = false;

                // Retrieve the additional data (two floats) from the response
                const integrated_spectrum = data.integrated_spectrum.toFixed(2);
                const integrated_passband = data.integrated_passband.toFixed(2);
                const peak_spectrum = data.peak_spectrum.toFixed(2);

                // Update the divs with the new numbers
                document.getElementById('integrated_spectrum').innerText = integrated_spectrum + " % nm, ";
                document.getElementById('integrated_passband').innerText = integrated_passband + " % nm, ";
                document.getElementById('peak_spectrum').innerText = peak_spectrum + " %";
            })
            .catch((error) => {
                console.error('Error:', error);
                // Hide the spinner
                document.getElementById('loading').style.display = 'none';
            });
    });


    // socket.on("update_plot", function (fig_json) {
    // plotHeatmap(fig_json, layout, config);
    // Hide the spinner
    // document.getElementById('loading').style.display = 'none';
    // 
    // });

    var trace1 = {
        x: [],  // x data
        y: [],  // y data
        mode: 'lines',
        type: 'scatter',
    };

    var data = [trace1];

    var layout_xy = {
        xaxis: {
            title: 'Wavelength (nm)',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Intensity (a.u.)',
            showline: false,
            type: 'linear'  // set initial yaxis type to linear
        },
    };
    var config_xy = {
        modeBarButtonsToAdd: [{
            name: 'Log Scale',
            title: 'log',
            click: function (gd) {
                var update = { 'yaxis.type': 'log' };
                Plotly.relayout(gd, update);
            }
        }, {
            name: 'Linear Scale',
            title: 'lin',
            click: function (gd) {
                var update = { 'yaxis.type': 'linear' };
                Plotly.relayout(gd, update);
            }
        }]
    };

    Plotly.newPlot('DatavsWavelengthPlot', data, layout_xy, config_xy);

    var plottedAngles = {};

    function plotXY(data) {
        // Check if this angle has already been plotted
        if (plottedAngles[data.name]) {
            return;
        }

        var newTrace = {
            x: data.x,  // new x data
            y: data.y,  // new y data
            mode: 'lines',
            type: 'scatter',
            name: data.name
        };

        Plotly.addTraces('DatavsWavelengthPlot', newTrace);

        // Mark this angle as plotted
        plottedAngles[data.name] = true;
    };

    document.getElementById('resetPlot').addEventListener('click', function () {
        Plotly.newPlot('DatavsWavelengthPlot', [], layout_xy);
        plottedAngles = {};
    });

    document.getElementById("downloadButton").addEventListener("click", function (e) {
        e.preventDefault();
        var fileType = document.getElementById("fileType").value;
        var fileEnding = document.getElementById("fileEnding").value;

        if (fileType === "simulation") {
            window.location.href = '/download_data?fileEnding=' + fileEnding;
        }
    });
</script>
{% endblock %}