<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Matrix Method Simulations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">

    <!-- This here is for asynchronous plotting -->
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Add jQuery UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
        rel="stylesheet" />

    <!-- Add jQuery, jQuery UI and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>

<body>
    <header>
        <h1>PolaritonTechnologies - Transfer Matrix Method (TMM) Optimization</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PolaritonTechnologies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {{ 'active' if request.endpoint == 'stack' else '' }}">
                    <a class="nav-link" href="{{ url_for('stack') }}">Stack</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'simulate' else '' }}">
                    <a class="nav-link" href="{{ url_for('simulate') }}">Simulate</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'optimize' else '' }}">
                    <a class="nav-link" href="{{ url_for('optimize') }}">Optimize</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'materials' else '' }}">
                    <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
                </li>

            </ul>
        </div>
    </nav>
    <main>
        <div class="row align-items-center ">
            <div class="col-6">
                <div id="loading" class="spinner-border text-primary" role="status"
                    style="position: absolute; display: none;">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div id="heatmap" style="margin-bottom: 5em;"></div>
                </div>
            </div>

            <div class="col-6">
                <div style="position: relative;">
                    <div id="DatavsWavelengthPlot"></div>
                    <button id="resetPlot" class="btn btn-primary"
                        style="position: absolute; top: 40px; right: 0;">Reset
                        Plot</button>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="form-group mx-3">
                        <label for="mode">Mode:</label>
                        <select id="mode" class="form-control">
                            <option value="r" {% if default_values.mode=="r" %}selected{% endif %}>
                                Reflection</option>
                            <option value="t" {% if default_values.mode=="t" %}selected{% endif %}>Transmission</option>
                            <option value="a" {% if default_values.mode=="a" %}selected{% endif %}>Absorption</option>
                        </select>
                    </div>
                    <div class="form-group mx-3">
                        <label for="polarization">Polarization:</label>
                        <select id="polarization" class="form-control">
                            <option value="s" {% if default_values.polarization=="s" %}selected{% endif %}>
                                s</option>
                            <option value="p" {% if default_values.polarization=="p" %}selected{% endif %}>p</option>
                            <option value="None" {% if default_values.polarization=="" %}selected{% endif %}>None
                            </option>
                        </select>
                    </div>

                    <div class="form-group mx-3">
                        <label for="azimuthalAngle">Azimuthal Angle:</label>
                        <input type="number" id="azimuthalAngle" class="form-control" min="0" max="90" step="0.1"
                            value="{{ default_values.azimuthalAngle }}">
                    </div>
                    <div class="form-group mx-3">
                        <label for="generalCore">General Core:</label>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="generalCore" {% if
                                default_values.core_selection=="general" %} checked {% endif %}>
                            <label class="custom-control-label" for="generalCore"></label>
                        </div>
                    </div>
                </div>

                <div class="row d-flex align-items-center justify-content-center">
                    <div class="form-group mx-3">
                        <label for="startAngle">Starting Angle:</label>
                        <input type="number" id="startAngle" class="form-control" min="0" max="90" step="0.1"
                            value="{{ default_values.startAngle }}">
                    </div>

                    <div class="form-group mx-3">
                        <label for="endAngle">End Angle:</label>
                        <input type="number" id="endAngle" class="form-control" min="0" max="90" step="0.1"
                            value="{{ default_values.endAngle }}">
                    </div>

                    <div class="form-group mx-3">
                        <label for="stepAngle">Angle step:</label>
                        <input type="number" id="stepAngle" class="form-control" min="0" max="90" step="0.1"
                            value="{{ default_values.stepAngle }}">
                    </div>
                </div>


                <div class="row d-flex align-items-center justify-content-center">
                    <div class="form-group mx-3">
                        <label for="startWavelength">Starting Wavelength:</label>
                        <input type="number" id="startWavelength" class="form-control" min="0" max="90" step="0.1"
                            value="{{ default_values.startWavelength }}">
                    </div>

                    <div class="form-group mx-3">
                        <label for="endWavelength">End Wavelength:</label>
                        <input type="number" id="endWavelength" class="form-control" min="0" max="90" step="0.1"
                            value="{{ default_values.endWavelength }}">
                    </div>

                    <div class="form-group mx-3">
                        <label for="stepWavelength">Wavelength Step:</label>
                        <input type="number" id="stepWavelength" class="form-control" min="0" max="90" step="0.1"
                            value="{{ default_values.stepWavelength }}">
                    </div>
                </div>

                <div class="row d-flex align-items-center justify-content-center" style="margin-bottom: 5em">
                    <button id="calculateButton" class="btn btn-primary mx-3">Calculate</button>
                    <button id="downloadModalButton" type="button" class="btn btn-primary mx-3" data-toggle="modal"
                        data-target="#downloadModalSimulate" {% if not default_values.dataPresent %}disabled{% endif %}>
                        Download
                    </button>
                </div>
                <!-- The Modal -->
                <div class="modal" id="downloadModalSimulate">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Download Options</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="fileType">File Type:</label>
                                    <select class="form-control" id="fileType">
                                        <option>simulation</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fileEnding">File Ending:</label>
                                    <select class="form-control" id="fileEnding">
                                        <option>.csv</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="downloadButton">Download</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <footer>
        <p>© 2024 PolaritonTechnologies</p>
    </footer>
</body>

</html>

<script>
    var socket = io.connect("http://localhost:5000");

    // Create a dummy heatmap with all zeros to already be able to show a dummy
    // graph from the beginning (without any calculation)
    var dummyData = {
        z: Array(100).fill().map(() => Array(100).fill(0)),
        type: 'heatmap',
        colorscale: 'Viridis'
    };

    // Create a layout with autosize set to true, aspectmode set to cube, and x-axis and y-axis labels
    var layout = {
        autosize: false,
        width: 800,
        height: 800,
        margin: { l: 50, r: 50, b: 100, t: 100, pad: 4 },
        xaxis: { title: "Angle (°)" },
        yaxis: { title: "Wavelength (nm)" },
    };
    var config = {
        modeBarButtonsToAdd: [{
            name: 'Log Scale',
            title: 'log',
            click: function (gd) {
                Plotly.restyle(gd, {
                    // 'colorscale': [[
                    //     [0, 'rgb(250, 250, 250)'],        //0
                    //     [1, 'rgb(200, 200, 200)'], //10
                    //     [2, 'rgb(150, 150, 150)'],  //100
                    //     [3, 'rgb(100, 100, 100)'],   //1000
                    //     [4. / 10, 'rgb(50, 50, 50)'],       //10000
                    //     [5., 'rgb(0, 0, 0)']              //100000
                    // ]],
                    // 'colorbar.tick0': 10,
                    // 'colorbar.tickmode': 'array',
                    'colorbar.tickvals': [0, 1. / 10000, 1. / 1000, 1. / 100, 1. / 10, 1],
                    'colorbar.ticktext': ['0', '1e-4', '1e-3', '1e-2', '1e-1', '1']
                });
            }
        }, {
            name: 'Linear Scale',
            title: 'lin',
            click: function (gd) {
                Plotly.restyle(gd, {
                    'colorscale': 'Viridis',
                    'colorbar.tick0': 0,
                    'colorbar.tickmode': 'array',
                    'colorbar.tickvals': [0, 0.2, 0.4, 0.6, 0.8, 1],
                    'colorbar.ticktext': ['0', '0.2', '0.4', '0.6', '0.8', '1']
                });
            }
        }]
    };
    // Plot the dummy heatmap when the page loads
    // Plotly.newPlot('heatmap', [dummyData], layout, config);
    window.onload = function () {
        var dataPresent = {{ default_values.dataPresent | tojson
    }};
    console.log("Data present: ", dataPresent);
    if (dataPresent) {
        socket.emit('plot');
        socket.on('update_plot', function (data) {
            var data = {
                x: data.x,
                y: data.y,
                z: data.z,
                colorscale: 'Viridis',
                type: 'heatmap',
            }
            Plotly.newPlot("heatmap", [data], layout, config);
        });
    } else {
        Plotly.newPlot('heatmap', [dummyData], layout, config);
    }
    };

    document.getElementById("calculateButton").addEventListener("click", function () {
        // Show the spinner
        document.getElementById('loading').style.display = 'block';

        var mode = document.getElementById("mode").value;
        var polarization = document.getElementById("polarization").value;
        var azimuthalAngle = document.getElementById("azimuthalAngle").value;
        var generalCore = document.getElementById("generalCore").checked;
        var startAngle = document.getElementById("startAngle").value;
        var endAngle = document.getElementById("endAngle").value;
        var stepAngle = document.getElementById("stepAngle").value;
        var startWavelength = document.getElementById("startWavelength").value;
        var endWavelength = document.getElementById("endWavelength").value;
        var stepWavelength = document.getElementById("stepWavelength").value;

        socket.emit("calculate_and_plot", {
            mode: mode,
            polarization: polarization,
            azimuthalAngle: azimuthalAngle,
            generalCore: generalCore,
            startAngle: startAngle,
            endAngle: endAngle,
            stepAngle: stepAngle,
            startWavelength: startWavelength,
            endWavelength: endWavelength,
            stepWavelength: stepWavelength,
        });

        document.getElementById("downloadModalButton").disabled = false;


    });


    socket.on("update_plot", function (fig_json) {
        var data = {
            x: fig_json.x,
            y: fig_json.y,
            z: fig_json.z,
            colorscale: 'Viridis',
            type: 'heatmap',
        }
        Plotly.newPlot("heatmap", [data], layout, config);
        var heatmap = document.getElementById('heatmap');

        // Make the plot interactive: if the user clicks on the plot, plot another plot
        heatmap.on('plotly_click', function (data) {
            var x = data.points[0].x;
            var y = data.points[0].y;
            console.log('You clicked on point (' + x + ', ' + y + ')');
            // Trigger the plotting of another plot here
            socket.emit('plot_xy', { x: x });
        });
        // Hide the spinner
        document.getElementById('loading').style.display = 'none';
    });
</script>

<script>
    var trace1 = {
        x: [],  // x data
        y: [],  // y data
        mode: 'lines',
        type: 'scatter',
    };

    var data = [trace1];

    var layout_xy = {
        xaxis: {
            title: 'Wavelength (nm)',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Intensity (a.u.)',
            showline: false,
            type: 'linear'  // set initial yaxis type to linear
        },
    };
    var config_xy = {
        modeBarButtonsToAdd: [{
            name: 'Log Scale',
            title: 'log',
            click: function (gd) {
                var update = { 'yaxis.type': 'log' };
                Plotly.relayout(gd, update);
            }
        }, {
            name: 'Linear Scale',
            title: 'lin',
            click: function (gd) {
                var update = { 'yaxis.type': 'linear' };
                Plotly.relayout(gd, update);
            }
        }]
    };

    Plotly.newPlot('DatavsWavelengthPlot', data, layout_xy, config_xy);

    var plottedAngles = {};

    socket.on('update_xy_plot', function (data) {
        // Check if this angle has already been plotted
        if (plottedAngles[data.name]) {
            return;
        }

        var newTrace = {
            x: data.x,  // new x data
            y: data.y,  // new y data
            mode: 'lines',
            type: 'scatter',
            name: data.name + ' °'
        };

        Plotly.addTraces('DatavsWavelengthPlot', newTrace);

        // Mark this angle as plotted
        plottedAngles[data.name] = true;
    });

    document.getElementById('resetPlot').addEventListener('click', function () {
        Plotly.newPlot('DatavsWavelengthPlot', [], layout_xy);
        plottedAngles = {};
    });


</script>


<script>
    document.getElementById("downloadButton").addEventListener("click", function (e) {
        e.preventDefault();
        var fileType = document.getElementById("fileType").value;
        var fileEnding = document.getElementById("fileEnding").value;

        if (fileType === "simulation") {
            window.location.href = '/download_data?fileEnding=' + fileEnding;
        }
    });
</script>