<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Matrix Method Simulations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Add jQuery UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
        rel="stylesheet" />


    <!-- Add jQuery, jQuery UI and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>

<body>
    <header>
        <h1>PolaritonTechnologies - Transfer Matrix Method (TMM) Optimization</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PolaritonTechnologies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {{ 'active' if request.endpoint == 'stack' else '' }}">
                    <a class="nav-link" href="{{ url_for('stack') }}">Stack</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'simulate' else '' }}">
                    <a class="nav-link" href="{{ url_for('simulate') }}">Simulate</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'optimize' else '' }}">
                    <a class="nav-link" href="{{ url_for('optimize') }}">Optimize</a>
                </li>
                <li class="nav-item {{ 'active' if request.endpoint == 'materials' else '' }}">
                    <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
                </li>

            </ul>

        </div>
    </nav>

    <main class="container-custom">
        <h2>Upload your Filter Design</h2>
        <p>Upload a .json or .ofp file containing your filter design.</p>
        <section class="text-center my-5">
            <div>
                <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data"
                    class="d-flex flex-column align-items-center">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile">{{ default_values.file_label }}</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3" value="upload">Upload</button>
                </form>

            </div>
        </section>
        <section class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center mb-4">
                <div class="container">
                    {% if default_values.num_boxes and default_values.colors is defined %}
                    {% for _ in range(default_values.num_boxes) %}
                    <div class="box"
                        style="background-color: {{ default_values.colors[loop.index0 % default_values.colors|length] }}; height: {{ default_values.heights[loop.index0 % default_values.heights|length] }}px;">
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div id="legend">
                    {% if default_values.num_legend_items and default_values.legend_colors is defined %}
                    {% for i in range(default_values.num_legend_items) %}
                    <div class="legend-item row d-flex align-items-center justify-content-start my-2">
                        <div class="box"
                            style="background-color: {{ default_values.legend_colors[i] }}; height: 20px; margin-right: 10px; width: 5em;">
                        </div>
                        <span>{{ default_values.unique_materials[i] }}</span>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <form action="{{ url_for('reset_filter') }}" method="post" enctype="multipart/form-data"
                    class="ml-3 d-flex align-items-end" style="margin-top:2em;">
                    <button type="submit" class="btn btn-danger" value="resetFilter">Reset Filter</button>
                </form>
            </div>

        </section>

        <h2>Filter Definition</h2>
        <p>Check and change the definition of the filter stack from the .json file. </p>

        <form class="form-horizontal">
            <table class="table" , id="jsonTable">
                <tr>
                    <th>Attribute</th>
                    <th>Value/Minimum</th>
                    <th>Maximum</th>
                    <th>Step</th>
                </tr>
                <tr>
                    <td><label for="calculation_type">Calculation Type:</label></td>
                    <td>
                        <select id="calculation_type" name="calculation_type" class="form-control">
                            <option value="t" {% if default_values.calculation_type=='t' %}selected{% endif %}>
                                Transmission</option>
                            <option value="r" {% if default_values.calculation_type=='r' %}selected{% endif %}>
                                Reflection</option>
                            <option value="a" {% if default_values.calculation_type=='a' %}selected{% endif %}>
                                Absorption</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="polarization">Polarization:</label></td>
                    <td>
                        <select id="polarization" name="polarization" class="form-control">
                            <option value="s" {% if default_values.polarization=='s' %}selected{% endif %}>s</option>
                            <option value="p" {% if default_values.polarization=='p' %}selected{% endif %}>p</option>
                            <option value="" {% if default_values.polarization=='' %}selected{% endif %}>None</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="calculation_wavelength_min">Calculation Wavelength:</label></td>
                    <td><input type="number" id="calculation_wavelength_min" name="calculation_wavelength_min"
                            class="form-control" value="{{ default_values.wavelengthMin }}"></td>
                    <td><input type="number" id="calculation_wavelength_max" name="calculation_wavelength_max"
                            class="form-control" value="{{ default_values.wavelengthMax }}"></td>
                    <td><input type="number" id="calculation_wavelength_step" name="calculation_wavelength_step"
                            class="form-control" value="{{ default_values.wavelengthStep }}"></td>
                </tr>
                <tr>
                    <td><label for="polar_angle_min">Polar Angle:</label></td>
                    <td><input type="number" id="polar_angle_min" name="polar_angle_min" class="form-control"
                            value="{{ default_values.polarAngleMin }}"></td>
                    <td><input type="number" id="polar_angle_max" name="polar_angle_max" class="form-control"
                            value="{{ default_values.polarAngleMax }}"></td>
                    <td><input type="number" id="polar_angle_step" name="polar_angle_step" class="form-control"
                            value="{{ default_values.polarAngleStep }}"></td>
                </tr>
                <tr>
                    <td><label for="azimuthal_angle_min">Azimuthal Angle:</label></td>
                    <td><input type="number" id="azimuthal_angle_min" name="azimuthal_angle_min" class="form-control"
                            value="{{ default_values.azimAngleMin }}"></td>
                    <td><input type="number" id="azimuthal_angle_max" name="azimuthal_angle_max" class="form-control"
                            value="{{ default_values.azimAngleMax }}"></td>
                    <td><input type="number" id="azimuthal_angle_step" name="azimuthal_angle_step" class="form-control"
                            value="{{ default_values.azimAngleStep }}"></td>
                </tr>
                <tr>
                    <td><label for="substrate_material_type">Substrate Material Type:</label></td>
                    <td>
                        <select id="substrate_material_type" name="substrate_material_type"
                            class="form-control select2">
                            {% for material in default_values.available_materials %}
                            {% if material == default_values.substrate_material %}
                            <option value="{{ material }}" selected>{{ material }}</option>
                            {% else %}
                            <option value="{{ material }}">{{ material }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label for="substrate_thickness">Substrate Thickness:</label></td>
                    <td><input type="number" id="substrate_thickness" name="substrate_thickness" class="form-control"
                            value="{{ default_values.substrate_thickness }}"></td>
                </tr>
                <tr>
                    <td><label for="incident_medium">Incident Medium:</label></td>
                    <td>
                        <select id="incident_medium" name="incident_medium" class="form-control select2">
                            {% for material in default_values.available_materials %}
                            {% if material == default_values.incident_medium %}
                            <option value="{{ material }}" selected>{{ material }}</option>
                            {% else %}
                            <option value="{{ material }}">{{ material }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="exit_medium">Exit Medium:</label></td>
                    <td>
                        <select id="exit_medium" name="exit_medium" class="form-control select2">
                            {% for material in default_values.available_materials %}
                            {% if material == default_values.exit_medium %}
                            <option value="{{ material }}" selected>{{ material }}</option>
                            {% else %}
                            <option value="{{ material }}">{{ material }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="general_core">General Core:</label></td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="general_core" {% if
                                default_values.core_selection=="general" %} checked {% endif %}>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="layers" class="table">
                            <tr>
                                <th>Layer</th>
                                <th>Value</th>
                                <th>Thickness</th>
                                <th>Thickness Opt</th>
                                <th>Thickness Bounds</th>
                                <th>Position Opt</th>
                            </tr>
                            {% for i in range(default_values.structure_materials|length) %}
                            <tr class="draggable">
                                <td>{{ i+1 }}</td>
                                <td>
                                    <select class="form-control select2">
                                        <!-- Add an option for the selected material -->
                                        <option value="{{ default_values.structure_materials[i] }}" selected>{{
                                            default_values.structure_materials[i] }}</option>

                                        {% for material in default_values.available_materials %}
                                        <!-- Only add an option for the material if it is not the selected material -->
                                        {% if material != default_values.structure_materials[i] %}
                                        <option value="{{ material }}">{{ material }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="text" class="form-control"
                                        value="{{ default_values.structure_thicknesses[i] }}"></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            id="checkbox_thickness_opt_{{ i }}" {% if
                                            default_values.thickness_opt_allowed[i] %}checked{% endif %}>
                                        <label class="custom-control-label"
                                            for="checkbox_thickness_opt_{{ i }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="number" class="form-control" placeholder="Min"
                                            value="{{ default_values.bounds[i][0] }}">
                                        <input type="number" class="form-control" placeholder="Max"
                                            value="{{ default_values.bounds[i][1] }}">
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            name="checkbox_layer_switch_{{ i }}" id="checkbox_layer_switch_{{ i }}" {%
                                            if default_values.layer_switch_allowed[i] %}checked{% endif %}>
                                        <label class="custom-control-label" for="checkbox_layer_switch_{{ i }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-danger delete-row">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <button id="add_layer" type="button" class="btn btn-primary">Add Layer</button>
                    </td>
                </tr>

                <tr>
                    <td colspan="10">
                        <table id="target" class="table">
                            <tr>
                                <th>Target</th>
                                <th>Type</th>
                                <th>Polar.</th>
                                <th>Polar Angle</th>
                                <th>Azimuthal Angle</th>
                                <th>Wavelength</th>
                                <th>Cond.</th>
                                <th>Value</th>
                                <th>Tolerance</th>
                            </tr>
                            {% for i in range(default_values.targets_value|length) %}
                            <tr class="draggable">
                                <td>{{ i+1 }}</td>

                                <td>
                                    <select class="form-control">
                                        <option value="t" {% if default_values.targets_type[i]=='t' %}selected{% endif
                                            %}>t</option>
                                        <option value="r" {% if default_values.targets_type[i]=='r' %}selected{% endif
                                            %}>r</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option value="s" {% if default_values.targets_polarization[i]=='s' %}selected{%
                                            endif %}>s</option>
                                        <option value="p" {% if default_values.targets_polarization[i]=='p' %}selected{%
                                            endif %}>p</option>
                                    </select>
                                </td>

                                <td>
                                    <div class="input-group">
                                        <input type="number" class="form-control" placeholder="Min"
                                            value="{{ default_values.targets_polar_angle[i][0] if default_values.targets_polar_angle[i] is sequence and default_values.targets_polar_angle[i]|length > 1 else default_values.targets_polar_angle[i] }}">
                                        <input type="number" class="form-control" placeholder="Max"
                                            value="{{ default_values.targets_polar_angle[i][1] if default_values.targets_polar_angle[i] is sequence and default_values.targets_polar_angle[i]|length > 1 else '' }}">
                                        <input type="number" class="form-control" placeholder="Step"
                                            value="{{ default_values.polar_angle_steps[i] }}">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="number" class="form-control" placeholder="Min"
                                            value="{{ default_values.targets_azimuthal_angle[i][0] if default_values.targets_azimuthal_angle[i] is sequence and default_values.targets_azimuthal_angle[i]|length > 1 else default_values.targets_azimuthal_angle[i] }}">
                                        <input type="number" class="form-control" placeholder="Max"
                                            value="{{ default_values.targets_azimuthal_angle[i][1] if default_values.targets_azimuthal_angle[i] is sequence and default_values.targets_azimuthal_angle[i]|length > 1 else '' }}">
                                        <input type="number" class="form-control" placeholder="Step"
                                            value="{{ default_values.azimuthal_angle_steps[i] }}">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="number" class="form-control" placeholder="Min"
                                            value="{{ default_values.targets_wavelengths[i][0] if default_values.targets_wavelengths[i] is sequence and default_values.targets_wavelengths[i]|length > 1 else default_values.targets_wavelengths[i] }}">
                                        <input type="number" class="form-control" placeholder="Max"
                                            value="{{ default_values.targets_wavelengths[i][1] if default_values.targets_wavelengths[i] is sequence and default_values.targets_wavelengths[i]|length > 1 else '' }}">
                                        <input type="number" class="form-control" placeholder="Step"
                                            value="{{ default_values.wavelength_steps[i] }}">
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option value="<" {% if default_values.targets_condition[i]=='<' %}selected{%
                                            endif %}>
                                            < </option>
                                        <option value=">" {% if default_values.targets_condition[i]=='>' %}selected{%
                                            endif %}>></option>
                                        <option value="=" {% if default_values.targets_condition[i]=='=' %}selected{%
                                            endif %}>=</option>
                                    </select>
                                </td>
                                <td><input type="number" class="form-control"
                                        value="{{ default_values.targets_value[i] }}"></td>
                                <td><input type="number" class="form-control"
                                        value="{{ default_values.targets_tolerance[i] }}"></td>


                                <td>
                                    <button class="btn btn-danger delete-row">Delete</button>
                                </td>

                            </tr>
                            {% endfor %}
                        </table>
                        <button id="add_target" type="button" class="btn btn-primary">Add Target</button>
                    </td>
                </tr>


            </table>
            <!-- <section class="text-center my-5">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-right: 1em; margin-bottom: 5em;"
                    id="saveButton">
                <a id="downloadLink" class="btn btn-secondary"
                    style="margin-bottom: 5em; margin-left: 1em; margin-right: 1em;">Download</a>
                <a id="downloadOptimizedLink" class="btn btn-info"
                    style="margin-bottom: 5em;margin-left: 1em; margin-right: 1em;">Download
                    Optimized</a>

            </section> -->
            <section class="text-center my-5">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-right: 1em; margin-bottom: 5em;"
                    id="saveButton">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#downloadModal"
                    style="margin-bottom: 5em; margin-left: 1em; margin-right: 1em;">
                    Download
                </button>
            </section>

            <!-- The Modal -->
            <div class="modal" id="downloadModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Download Options</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="fileType">File Type:</label>
                                <select class="form-control" id="fileType">
                                    <option>Initial</option>
                                    <option>Optimized</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fileEnding">File Ending:</label>
                                <select class="form-control" id="fileEnding">
                                    <option>.json</option>
                                    <option>.ofp</option>
                                </select>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="downloadButton">Download</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="modal" tabindex="-1" role="dialog" id="errorModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ default_values.error_message }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2024 PolaritonTechnologies</p>
    </footer>
    </footer>
</body>

</html>


<script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("customFile").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    })
</script>


<script>
    // Scripts on the stack tables for adding layers and optimization parameters
    $(function () {
        // Function to make table rows draggable
        function makeRowsDraggable() {
            $("#layers tbody, #target tbody").sortable({
                items: ".draggable",
                cursor: 'move',
                opacity: 0.6,
                stop: function () {
                    // Update row numbers after drag and drop
                    $(this).find("tr").each(function (index) {
                        $(this).data('row-number', index);
                        $(this).find("td:first").text($(this).data('row-number'));
                    });
                }
            });
        }

        // Initial call to make existing rows draggable
        makeRowsDraggable();

        // Delete row on button click
        $("#layers, #target").on("click", ".delete-row", function () {
            $(this).closest("tr").remove();

            // Update row numbers after deletion
            $(this).closest("tbody").find("tr").each(function (index) {
                $(this).data('row-number', index + 1);
                $(this).find("td:first").text($(this).data('row-number'));
            });
        });

        document.getElementById('add_layer').addEventListener('click', function () {
            addRow('layers');
        });

        document.getElementById('add_target').addEventListener('click', function () {
            addRow('target');
        });

        // Get number of checkboxes to obtain number of layers (minus the
        // general core checkbox)
        let checkboxCounter = (document.querySelectorAll('input[type="checkbox"]').length - 1) / 2;

        function addRow(tableId) {
            var table = document.getElementById(tableId);
            var row = table.insertRow(-1);
            row.dataset.rowNumber = table.rows.length - 1;
            row.className = 'draggable';
            var cell1 = row.insertCell(0);
            cell1.textContent = row.dataset.rowNumber;

            if (tableId === 'layers') {
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);
                var cell6 = row.insertCell(5);
                var cell7 = row.insertCell(6);
                cell2.innerHTML = `
                    <select class="form-control select2">
                        {% for material in default_values.available_materials %}
                        {% if material == default_values.exit_medium %}
                        <option value="{{ material }}" selected>{{ material }}</option>
                        {% else %}
                        <option value="{{ material }}">{{ material }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>`;

                // Initialize Select2 on the new element
                $(cell2).find('select').select2({
                    theme: 'bootstrap',
                    width: 'resolve',
                    tags: true,
                    createTag: function (params) {
                        var term = $.trim(params.term);

                        if (term === '') {
                            return null;
                        }

                        return {
                            id: term,
                            text: term,
                            newOption: true
                        }
                    },
                    templateResult: function (data) {
                        var $result = $("<span></span>");

                        $result.text(data.text);

                        if (data.newOption) {
                            $result.append(" <em>(add new)</em>");
                        }

                        return $result;
                    }
                });

                cell3.innerHTML = '<input type="text" class="form-control">';
                cell4.innerHTML = `
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkbox_thickness_opt_${checkboxCounter}">
                    <label class="custom-control-label" for="checkbox_thickness_opt_${checkboxCounter}"></label>
                </div> `;
                checkboxCounter++;
                cell5.innerHTML = `
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Min">
                    <input type="number" class="form-control" placeholder="Max">
                </div>
                `;
                cell6.innerHTML = `
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkbox_layer_switch_${checkboxCounter}">
                    <label class="custom-control-label" for="checkbox_layer_switch_${checkboxCounter}"></label>
                </div> `;
                cell7.innerHTML = '<button class="btn btn-danger delete-row">Delete</button>';
                checkboxCounter++;
            } else if (tableId === 'target') {
                var cells = [];
                for (var i = 1; i <= 10; i++) {
                    cells[i] = row.insertCell(i);
                }
                cells[1].innerHTML = `
                    <select class="form-control">
                        <option value="t">t</option>
                        <option value="r">r</option>
                        <option value="a">a</option>
                    </select>
                    `;
                cells[2].innerHTML = `
                    <select class="form-control">
                        <option value="s">s</option>
                        <option value="p">p</option>
                        <option value="">None</option>
                    </select>
                    `;
                cells[3].innerHTML = `
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Min">
                        <input type="number" class="form-control" placeholder="Max">
                        <input type="number" class="form-control" placeholder="Step">
                    </div>
                    `;
                cells[4].innerHTML = `
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Min">
                        <input type="number" class="form-control" placeholder="Max">
                        <input type="number" class="form-control" placeholder="Step">
                    </div>
                    `;
                cells[5].innerHTML = `
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Min">
                        <input type="number" class="form-control" placeholder="Max">
                        <input type="number" class="form-control" placeholder="Step">
                    </div>
                    `;
                cells[6].innerHTML = `
                    <select class="form-control">
                        <option value="<"><</option>
                        <option value=">">></option>
                        <option value="=">=</option>
                    </select>
                    `;
                cells[7].innerHTML = '<input type="number" class="form-control">';
                cells[8].innerHTML = '<input type="number" class="form-control">';
                cells[9].innerHTML = '<button class="btn btn-danger delete-row">Delete</button>';
            }


            // Refresh sortable functionality after adding new row
            makeRowsDraggable();
        }
    });
</script>

<script>
    // Send data back to python
    function getCellData(cell) {
        var data = {};
        var inputs = cell.querySelectorAll('input, select');
        if (inputs.length > 0) {
            data.values = Array.from(inputs).map(input => {
                if (input.type === 'checkbox') {
                    return input.checked;  // returns true if checked, false if not checked
                } else {
                    return input.value;
                }
            });
        }

        var nestedTables = cell.querySelectorAll('table');
        if (nestedTables.length > 0) {
            data.tables = Array.from(nestedTables).map(table => getTableData(table));
        }

        return data;
    }

    function getTableData(table) {
        var data = [];

        for (var i = 1, row; row = table.rows[i]; i++) {
            var rowData = {};
            for (var j = 0, cell; cell = row.cells[j]; j++) {
                rowData[j] = getCellData(cell);
            }
            data.push(rowData);
        }

        return data;
    }

    function saveData(button) {
        var table = document.getElementById('jsonTable');
        var data = getTableData(table);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/save_json?button=' + button, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (this.status == 200) {
                var response = JSON.parse(this.responseText);
                if (response.error_message) {
                    $('#errorModal').modal('show');
                    $('.modal-body').text(response.error_message);
                }
            }
            else if (this.status == 302) {  // Status code for redirect
                location.reload();  // Reload the page
            }
        };
        xhr.send(JSON.stringify(data));
    }


    document.getElementById("saveButton").addEventListener("click", function (e) {
        e.preventDefault();
        saveData('save');
    });

    document.getElementById("downloadButton").addEventListener("click", function (e) {
        e.preventDefault();
        var fileType = document.getElementById("fileType").value;
        var fileEnding = document.getElementById("fileEnding").value;

        if (fileType === "Initial") {
            window.location.href = '/download?fileEnding=' + fileEnding;
        } else if (fileType === "Optimized") {
            window.location.href = '/download_current_optimum_file?fileEnding=' + fileEnding;
        }
    });
    // document.getElementById("downloadLink").addEventListener("click", function (e) {
    //     e.preventDefault();
    //     window.location.href = '/download';
    // });

    // document.getElementById("downloadOptimizedLink").addEventListener("click", function (e) {
    //     e.preventDefault();
    //     window.location.href = '/download_current_optimum_file';
    // });

</script>
<script>
    $(document).ready(function () {
        $('.select2').select2({
            theme: 'bootstrap',
            width: 'resolve',
            tags: true,
            createTag: function (params) {
                var term = $.trim(params.term);

                if (term === '') {
                    return null;
                }

                return {
                    id: term,
                    text: term,
                    newOption: true
                }
            },
            templateResult: function (data) {
                var $result = $("<span></span>");

                $result.text(data.text);

                if (data.newOption) {
                    $result.append(" <em>(add new)</em>");
                }

                return $result;
            }
        });
    });
</script>